<mat-grid-list gutterSize="10" cols="3" rowHeight="2:1">
  <!-- hamburger button-->
  <mat-grid-tile class="shadow-sm" matTooltip="Hamburger button">
    <lbk-hamburger></lbk-hamburger>
  </mat-grid-tile>
  <!-- end hamburger button-->

  <!-- buddy button-->
  <mat-grid-tile class="shadow-sm" matTooltip="Buddy button">
    <lbk-buddy-button></lbk-buddy-button>
  </mat-grid-tile>
  <!-- end buddy button-->

  <!--  neon button-->
  <mat-grid-tile class="shadow-sm bg-dark" matTooltip="Neon button">
    <lbk-neon-button></lbk-neon-button>
  </mat-grid-tile>
  <!--  end neon button-->

  <!--  paper plane button-->
  <mat-grid-tile class="shadow-sm" matTooltip="Paper plane button">
    <lbk-paper-plane></lbk-paper-plane>
  </mat-grid-tile>
  <!--  end paper plane button-->

  <!--  order complete button-->
  <mat-grid-tile class="shadow-sm" matTooltip="Order complete button">
    <lbk-order-complete-button></lbk-order-complete-button>
  </mat-grid-tile>
  <!--  end order complete button-->

  <!--    trash button-->
  <mat-grid-tile class="shadow-sm" matTooltip="Trash button">
    <lbk-trash-button></lbk-trash-button>
  </mat-grid-tile>
  <!--    end trash button-->

  <!--    smash button to submit-->
  <mat-grid-tile class="shadow-sm" matTooltip="Smash button to submit">
    <lbk-smash-to-submit></lbk-smash-to-submit>
  </mat-grid-tile>
  <!--    end smash button to submit-->

  <!--    skew  button-->
  <mat-grid-tile class="shadow-sm" matTooltip="Skew button">
    <lbk-skew-button></lbk-skew-button>
  </mat-grid-tile>
  <!--    end skew button-->

  <!--    water wave button-->
  <mat-grid-tile class="shadow-sm" matTooltip="Water wave button">
    <lbk-water-wave-button></lbk-water-wave-button>
  </mat-grid-tile>
  <!--    end water wave button-->
</mat-grid-list>
