<section
  class="relative container pt-9 pb-[70px] sm:pb-24 md:pt-14 overflow-hidden"
>
  <!-- Bg Pattern -->
  <img
    class="absolute -right-[2%] -translate-y-[30%] h-full md:-translate-y-[10%]"
    src="/assets/images/bg-pattern.svg"
    alt="Pattern"
  />
  <!-- end Bg Pattern -->

  <div class="sm:pr-20">
    <h1
      class="font-medium text-primary text-[36px] leading-[48px] md:text-5xl md:leading-[65px]"
    >
      <span class="improve"> Improve </span>
      your front-end coding skills by building real projects
    </h1>

    <p
      class="mt-[18px] text-[18px] leading-[26px] max-w-[295px] break-words sm:max-w-md"
    >
      Solve real-world HTML, CSS and JavaScript challenges whilst working to
      professional designs. Join 343,219 developers building projects, reviewing
      code, and helping each other get better.
    </p>
  </div>

  <!-- Login With Github -->
  <a
    routerLink="/"
    class="mt-7 gap-2 items-center bg-error shadow-sm text-white rounded-[88px] text-[16px] font-medium text-center leading-6 inline-flex px-[57px] py-[11px]"
    >Login with GithHub
    <i class="fa-brands fa-github"></i>
  </a>
  <!-- end Login With Github -->
</section>
