<main class="relative mt-10 mb-20 container">
  <section class="max-w-[735px] mx-auto bg-white shadow-lg p-6 border md:p-8">
    <h1 class="font-bold">
      REVOKE GITHUB OAUTH ACCESS
    </h1>
    <p class="text-sm mt-4">
      This will revoke all access to your Frontend Mentor account through GitHub
      OAuth. You will need to go through the authentication process again to
      access your account.
    </p>

    <!-- Revote Github Account -->
    <button class="btn btn-error btn-icon font-bold italic px-12 mt-6 md:gap-4">
      REVOKE GITHUB ACCESS
      <i class="fa-brands fa-github text-lg"></i>
    </button>
    <!-- end Revote Github Account -->

    <div
      class="mt-12 bg-error/10 py-6 pl-2 pr-6 border-l-4 border-error md:pl-5"
    >
      <h2 class="text-error text-3xl font-bold">
        DANGER ZONE
      </h2>

      <h3 class="text-xl font-medium mt-4">
        Delete Frontend Mentor Account
      </h3>

      <ul class="mt-4 text-sm space-y-4">
        <li>
          This will delete all of your personal information from our database.
          This includes all of your solutions and your mentor score.
        </li>

        <li>
          Your feedback and comments made on other user solutions will remain,
          but will appear as being posted by a "Deleted User".
        </li>
      </ul>

      <strong class="text-sm block mt-6">
        Once you click the button below there is no going back!
      </strong>

      <!-- Delete Account -->
      <button
        (click)="deleteAccount()"
        class="btn btn-error btn-icon font-bold text-white italic mt-8 md:gap-4"
      >
        DELETE ACCOUNT
        <i class="animate-spin fa-solid fa-circle-radiation text-xl"></i>
      </button>
      <!-- end Delete Account -->
    </div>
  </section>
</main>
