<lbk-sub-header title="CHALLENGE"></lbk-sub-header>

<main class="relative mt-10 mb-32">
  <lbk-challenge-details
    [challenge]="(challenge$ | async)!"
  ></lbk-challenge-details>

  <!-- Challenge FAQS -->
  <lbk-question-list class="block mt-28" type="challenges"></lbk-question-list>
  <!-- end Challenge FAQS -->

  <!-- Slack -->
  <lbk-slack class="block mt-28 lg:mt-[120px] 2xl:mt-[124px]"></lbk-slack>
  <!-- end Slack -->

  <!-- New Letter -->
  <lbk-newletter class="block mt-20 xl:mt-32"></lbk-newletter>
  <!-- end New Letter -->
</main>
