<section
  class="relative container pt-9 pb-[70px] sm:pb-24 md:pt-14 overflow-hidden lg:flex lg:items-center lg:justify-between xl:px-14 2xl:px-28 2xl:pt-20"
>
  <!-- Bg Pattern Mobile -->
  <img
    class="z-[-1] absolute -right-[2%] -translate-y-[30%] opacity-30 h-full md:-translate-y-[10%] md:right-[10%] lg:hidden"
    src="/assets/images/bg-pattern.svg"
    alt="Pattern"
  />
  <!-- end Bg Pattern Mobile -->

  <!-- Bg Pattern Desktop One -->
  <img
    class="hidden z-[-1] absolute left-1/2 -translate-x-1/2 h-full lg:block"
    src="/assets/images/bg-pattern-desktop-1.svg"
    alt="Pattern"
  />
  <!-- end Bg Pattern Desktop One -->

  <!-- Bg Pattern Desktop Two -->
  <img
    class="hidden z-[-1] absolute -right-[5%] -translate-y-[30%] h-full md:-translate-y-[10%] lg:block"
    src="/assets/images/bg-pattern-desktop-2.svg"
    alt="Pattern"
  />
  <!-- end Bg Pattern Desktop Two -->

  <div class="grid place-items-center max-w-[600px] 2xl:max-w-[500px]">
    <div class="text-center sm:pr-20 lg:pr-0">
      <h1
        class="font-medium text-primary text-[36px] leading-[48px] md:text-5xl md:leading-[65px]"
      >
        <lbk-zig-zag>Discover</lbk-zig-zag>
        junior front-end developers with hands-on experience building projects
      </h1>

      <p
        class="mt-[18px] text-center text-[18px] leading-[26px] break-words sm:max-w-md lg:leading-8"
      >
        Frontend Mentor Hiring will help you connect with the thousands of
        developers in our community who are actively looking for work.
      </p>
    </div>

    <!-- Login With Github -->
    <a
      routerLink="/"
      class="btn btn-error mt-7 items-center inline-flex px-8 py-3 gap-2"
      >JOIN OUR WAITLIST
    </a>
    <!-- end Login With Github -->
  </div>

  <!-- Hero Image -->
  <div class="min-w-[390px] max-w-[480px] hidden lg:block">
    <img src="assets/images/homepage-hero.jpeg" alt="Hero Image" />
  </div>
  <!-- end Hero Image -->
</section>
