<mat-grid-list gutterSize='10' class='p-0 mt-2' cols='2' rowHeight='2:1'>

  <!--    gradient stroke and bound loading-->
  <mat-grid-tile class='shadow-sm' matTooltip='Gradient stroke and bound loading'>
    <lbk-gradient-stroke-and-bound-loading></lbk-gradient-stroke-and-bound-loading>
  </mat-grid-tile>
  <!--    end gradient stroke and bound loading-->

  <!--    liquid circle v3 loading-->
  <mat-grid-tile class='shadow-sm' matTooltip='Liquid Circle v3'>
    <lbk-liquid-circle-v3></lbk-liquid-circle-v3>
  </mat-grid-tile>
  <!--    end liquid circle v3 loading-->

  <!--    liquid circle v2 loading-->
  <mat-grid-tile class='shadow-sm' matTooltip='Liquid Circle v2'>
    <lbk-liquid-circle-v2></lbk-liquid-circle-v2>
  </mat-grid-tile>
  <!--    end liquid circle v2 loading-->

  <!--    liquid circle loading-->
  <mat-grid-tile class='shadow-sm' matTooltip='Three block move'>
    <lbk-liquid-circle></lbk-liquid-circle>
  </mat-grid-tile>
  <!--    end liquid circle loading-->

  <!--    three dot loading-->
  <mat-grid-tile class='shadow-sm' matTooltip='Three dot'>
    <lbk-three-dot></lbk-three-dot>
  </mat-grid-tile>
  <!--    end three dot loading-->

  <!--    fill square loading-->
  <mat-grid-tile class='shadow-sm' matTooltip='Fill square loading'>
    <lbk-fill-square></lbk-fill-square>
  </mat-grid-tile>
  <!--    end fill square loading-->


  <!--    three move block loading-->
  <mat-grid-tile class='shadow-sm' matTooltip='Three block move'>
    <lbk-three-block-move></lbk-three-block-move>
  </mat-grid-tile>
  <!--    end three move block loading-->

  <!--    snake move square loading-->
  <mat-grid-tile class='shadow-sm' matTooltip='Snake move square'>
    <lbk-snake-move-square></lbk-snake-move-square>
  </mat-grid-tile>
  <!--    end snake move square loading-->

  <!--    flip loading-->
  <mat-grid-tile class='shadow-sm' matTooltip='Flip Loading'>
    <lbk-flip-loading></lbk-flip-loading>
  </mat-grid-tile>
  <!--    end flip loading-->

  <!--    loading wavy-->
  <mat-grid-tile class='shadow-sm' matTooltip='Loading Wavy'>
    <lbk-loading-wavy></lbk-loading-wavy>
  </mat-grid-tile>
  <!--    end loading wavy-->

  <!--  four square route loading-->
  <mat-grid-tile matTooltip='Four Square Rotate' class='shadow-sm'>
    <lbk-four-square-rotate-loading></lbk-four-square-rotate-loading>
  </mat-grid-tile>
  <!--  end four square route loading-->

  <!--  two snake move square loading-->
  <mat-grid-tile matTooltip='Two snake move square' class='shadow-sm'>
    <lbk-two-snake-move-square></lbk-two-snake-move-square>
  </mat-grid-tile>
  <!--  end two snake move square loading-->

  <!--  head touch rear circle loading-->
  <mat-grid-tile matTooltip='Head touch rear circle loading' class='shadow-sm'>
    <lbk-head-touch-rear-circle></lbk-head-touch-rear-circle>
  </mat-grid-tile>
  <!--  end head touch rear circle loading-->

</mat-grid-list>
