<header class="border-b">
  <nav class="container flex justify-between items-center pr-5 lg:py-1">
    <a aria-label="Logo" routerLink="/">
      <!-- Logo Mobile -->
      <img
        class="p-[17px] border-r md:hidden"
        src="assets/images/shared/logo-mobile.svg"
        alt="Logo Mobile"
      />
      <!-- end Logo Mobile -->

      <!-- Logo Tablet -->
      <img
        class="hidden min-w-[196px] py-[17px] pl-[17px] md:block lg:pl-0"
        src="assets/images/shared/logo-desktop.svg"
        alt="Logo Mobile"
      />
      <!-- end Logo Tablet -->
    </a>

    <div class="hidden gap-8 items-center lg:flex">
      <!-- Link Desktop -->
      <lbk-links-desktop></lbk-links-desktop>
      <!-- end Link Desktop -->

      <!-- Login With Github -->
      <a
        class="btn inline-flex items-center font-medium text-heading text-sm gap-2 py-2 px-5 bg-dark text-white rounded-full"
        href="#"
      >
        Login with Github
        <i class="fa-brands fa-github text-lg"></i>
      </a>
      <!-- end Login With Github -->
    </div>

    <!-- Hamburger  -->
    <lbk-menu-one class="lg:hidden" color="black"></lbk-menu-one>
    <!-- end Hamburger  -->
  </nav>
</header>
