<footer
  class="relative container bg-black-200 pt-[253px] pb-16 flex flex-col items-center text-white"
>
  <!-- Let Talks -->
  <lbk-let-talks
    class="absolute block w-full top-0 left-1/2 -translate-y-1/2 -translate-x-1/2"
    scrollTo
  ></lbk-let-talks>
  <!-- end Let Talks -->

  <!-- Logo Light-->
  <img
    class="max-w-[202px]"
    src="assets/shared/desktop/logo-light.png"
    alt="Logo Light"
  />
  <!-- end Logo Light-->

  <div class="h-[1px] w-full bg-white-200/30 mt-8"></div>

  <div class="grid gap-10 mt-8 place-items-center text-center">
    <!-- Links -->
    <ul class="grid gap-8">
      <li>OUR COMPANY</li>
      <li>LOCATIONS</li>
      <li>CONTACT</li>
    </ul>
    <!-- end Links -->

    <!-- Address -->
    <div class="grid text-white-200/60">
      <strong> Designo Central Office </strong>
      <span>3886 Wellington Street</span>
      <span>Toronto, Ontario M9C 3J5</span>
    </div>
    <!-- end Address -->

    <!-- Contact Us -->
    <div class="grid text-white-200/60">
      <strong> Contact Us (Central Office) </strong>
      <span>P : +1 253-863-8967</span>
      <span>M : contact@designo.co</span>
    </div>
    <!-- end Contact Us -->

    <!-- Socials -->
    <ul class="flex gap-3">
      <li>
        <img src="assets/shared/desktop/icon-facebook.svg" alt="Facebook" />
      </li>

      <li>
        <img src="assets/shared/desktop/icon-youtube.svg" alt="Youtube" />
      </li>

      <li>
        <img src="assets/shared/desktop/icon-twitter.svg" alt="Twitter" />
      </li>

      <li>
        <img src="assets/shared/desktop/icon-pinterest.svg" alt="Pinterest" />
      </li>

      <li>
        <img src="assets/shared/desktop/icon-instagram.svg" alt="Instagram" />
      </li>
    </ul>
    <!-- end Socials -->
  </div>
</footer>
