<footer
  [ngClass]="{
    'pt-16 mt-[120px] 2xl:mt-[160px]': !(isNotContactPage$ | async)!
  }"
  class="relative container bg-black-200 pt-[253px] pb-16 mt-[311px] flex flex-col items-center text-white md:pt-[166px] md:pb-20 2xl:mt-[380px]"
>
  <!-- Let Talks -->
  <div *ngIf="!(isNotContactPage$ | async)!">
    <lbk-let-talks
      class="absolute block w-full top-0 left-1/2 -translate-y-1/2 -translate-x-1/2 md:-translate-y-[70%] 2xl:-translate-y-[calc(50%+74px)]"
    ></lbk-let-talks>
  </div>
  <!-- end Let Talks -->

  <div class="md:flex md:w-full md:justify-between">
    <!-- Logo Light-->
    <div>
      <img
        class="max-w-[202px]"
        src="assets/shared/desktop/logo-light.png"
        alt="Logo Light"
      />
    </div>
    <!-- end Logo Light-->

    <!-- Links Tablet-->
    <ul class="hidden gap-8 md:flex">
      <li>OUR COMPANY</li>
      <li>LOCATIONS</li>
      <li>CONTACT</li>
    </ul>
    <!-- end Links Tablet-->
  </div>

  <!-- Line -->
  <div class="h-[1px] w-full bg-white-200/30 mt-8 md:mt-10"></div>
  <!-- end Line -->

  <div
    class="flex flex-col gap-10 mt-8 items-center text-center md:flex-row md:justify-between md:items-end md:text-left 2xl:justify-between 2xl:w-full"
  >
    <!-- Links Mobile-->
    <ul class="grid gap-8 md:hidden">
      <li>OUR COMPANY</li>
      <li>LOCATIONS</li>
      <li>CONTACT</li>
    </ul>
    <!-- end Links Mobile-->

    <div class="grid gap-10 2xl:grid-cols-2 2xl:gap-52 2xl:justify-items-start">
      <!-- Address -->
      <div class="grid text-white-200/60">
        <strong> Designo Central Office </strong>
        <span>3886 Wellington Street</span>
        <span>Toronto, Ontario M9C 3J5</span>
      </div>
      <!-- end Address -->

      <!-- Contact Us -->
      <div class="grid text-white-200/60">
        <strong> Contact Us (Central Office) </strong>
        <span>P : +1 253-863-8967</span>
        <span>M : contact@designo.co</span>
      </div>
      <!-- end Contact Us -->
    </div>

    <!-- Socials -->
    <ul class="flex gap-3">
      <li>
        <img src="assets/shared/desktop/icon-facebook.svg" alt="Facebook" />
      </li>

      <li>
        <img src="assets/shared/desktop/icon-youtube.svg" alt="Youtube" />
      </li>

      <li>
        <img src="assets/shared/desktop/icon-twitter.svg" alt="Twitter" />
      </li>

      <li>
        <img src="assets/shared/desktop/icon-pinterest.svg" alt="Pinterest" />
      </li>

      <li>
        <img src="assets/shared/desktop/icon-instagram.svg" alt="Instagram" />
      </li>
    </ul>
    <!-- end Socials -->
  </div>
</footer>
