<div class="flex justify-center xl:flex xl:pt-24 xl:container xl:gap-7">
  <!--    Header-->
  <lbk-home-header class="xl:w-[255px]"></lbk-home-header>
  <!--    end Header-->

  <div class="max-w-[825px] xl:grow">
    <!-- Sub Header -->
    <lbk-home-sub-header></lbk-home-sub-header>
    <!-- end Sub Header -->

    <!-- Loading -->
    <div
      *ngIf="loading$ | async; else loaded"
      class="flex justify-center mt-20"
    >
      <lbk-spinner [radius]="50"></lbk-spinner>
    </div>
    <!-- end Loading -->

    <!-- Loaded Feedbacks -->
    <ng-template #loaded>
      <main class="container mb-10 mt-8 xl:px-0 xl:mt-6">
        <lbk-feedbacks-empty
          *ngIf="isEmptyFeedbacks$ | async; else feedbacks"
        ></lbk-feedbacks-empty>

        <ng-template #feedbacks>
          <lbk-feedback-preview-list
            [feedbacks]="(feedbacks$ | async)!"
          ></lbk-feedback-preview-list>
        </ng-template>
      </main>
    </ng-template>
    <!-- end Loaded Feedbacks -->
  </div>
</div>

<!--    Side Bar-->
<lbk-sidebar class="md:hidden"></lbk-sidebar>
<!--    end Side Bar-->

<!-- Profile Dialog -->
<!-- <lbk-profile-modal [shown]="true"></lbk-profile-modal> -->
<!-- end Profile Dialog -->
