<!--<nav mat-tab-nav-bar>-->
<!--  <a mat-tab-link-->
<!--     *ngFor='let link of links'-->
<!--     (click)='activeLink = link'-->
<!--     [active]='activeLink == link'> {{link}} </a>-->
<!--</nav>-->

<ul class='list-group m-2'>

  <!--  sibling tab-->
  <li class='list-group-item' matTooltip='Sibling Tab'>
    <lbk-sibling-tab></lbk-sibling-tab>
  </li>
  <!--  end sibling tab-->

  <!--  &lt;!&ndash;  Bump animated tab bar&ndash;&gt;-->
  <!--  <li class='list-group-item' matTooltip='Bump animated tab bar'>-->
  <!--    <lbk-bump-animated-tab-bar></lbk-bump-animated-tab-bar>-->
  <!--  </li>-->
  <!--  &lt;!&ndash;  end Bump animated tab bar&ndash;&gt;-->
</ul>
