<section class="relative overflow-hidden bg-dark bg-opacity-[88%]">
  <img
    class="absolute w-full h-full object-cover inset-0 z-[-1]"
    src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto,w_700/Challenges/rlaxdjplmeul4qe1qvh6.jpg"
    alt=""
  />

  <div
    class="relative container-poll grid place-content-center text-center text-white pt-14 pb-10 sm:pt-20 md:place-content-stretch xl:pt-32"
  >
    <h1 class="text-sm tracking-widest">Submitted 4 months ago</h1>

    <h2 class="text-4xl mx-auto max-w-[712px] mt-3 md:mt-6 lg:text-5xl">
      Interactive Pricing Component
    </h2>

    <!-- Tags -->
    <ul class="flex justify-center gap-4 mt-2 xl:mt-4">
      <li>#angular</li>
      <li>#tailwind-css</li>
    </ul>
    <!-- end Tags -->

    <!-- User Profile -->
    <div class="flex gap-3 items-center justify-center mt-4 xl:mt-8">
      <img
        class="w-11 h-11 rounded-full"
        src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto:low,w_80,h_80,c_fill/Avatars/jakb5tseftxy47sebxpa.jpg"
        alt=""
      />

      <div class="text-xs text-left">
        <div class="flex items-center gap-2">
          <strong>Le Binh Khang</strong>
          <span class="w-1 h-1 rounded-full bg-white"></span>
          <strong>1,300</strong>
        </div>
        <span class="inline-block mt-1">@lbk2knewlifegithub</span>
      </div>
    </div>
    <!-- end User Profile -->

    <div
      class="mt-16 flex flex-col gap-6 md:flex-row md:justify-between md:w-full md:mt-20 xl:mt-24"
    >
      <ul class="flex flex-col gap-4 md:flex-row">
        <!-- Preview Site -->
        <li>
          <button
            class="btn btn-error font-bold italic tracking-widest btn-icon gap-3 min-w-[264px] md:min-w-fit md:px-10"
          >
            PREVIEW SITE
            <i class="fa-solid fa-up-right-from-square"></i>
          </button>
        </li>
        <!-- end Preview Site -->

        <!-- View Code -->
        <li>
          <button
            class="btn btn-white text-dark font-bold italic tracking-widest btn-icon gap-3 min-w-[264px] md:min-w-fit md:px-10"
          >
            VIEW CODE
            <i class="fa-solid fa-up-right-from-square"></i>
          </button>
        </li>
        <!-- end View Code -->
      </ul>

      <ul class="flex justify-center gap-2 md:justify-end xl:gap-4">
        <!-- Number Of Likes -->
        <li class="btn btn-white btn-icon gap-3 text-lg py-2 px-6 xl:px-8">
          <i class="fa-regular fa-heart text-xl"></i>
          1
        </li>
        <!-- end Number Of Likes -->

        <!-- Number of Bookmark -->
        <li class="btn btn-white btn-icon gap-3 text-lg py-2 px-6 xl:px-8">
          <i class="fa-regular fa-bookmark text-xl"></i>
          0
        </li>
        <!-- end Number of Bookmark -->
      </ul>
    </div>

    <!-- Visit Challenge Hub -->
    <a
      class="btn-icon gap-4 font-bold italic absolute right-2 top-4 text-xs hover:underline xl:text-lg xl:top-5"
      routerLink="/challenge/hub/overview1"
    >
      VISIT CHALLENGE HUB
      <i class="fa-solid fa-angle-right"></i>
    </a>
    <!-- end Visit Challenge Hub -->
  </div>
</section>
