<!--basic login form with user name and password-->
<ul class='list-group m-2'>

  <!--  sign neomorphic form-->
  <li matTooltip='Sign neomorphic'
      style='background-color: #EBECF0'
      class='list-group-item flex-center-row py-4'>
    <lbk-signup-neomorphic></lbk-signup-neomorphic>
  </li>
  <!--  end sign neomorphic form-->

  <!--  login neon form-->
  <li matTooltip='Login neon' class='list-group-item flex-center-row bg-dark py-4'>
    <lbk-login-neon></lbk-login-neon>
  </li>
  <!--  end login neon form-->

  <!--  basic login form-->
  <li class='list-group-item flex-center-row'>
    <lbk-basic-login-form
      width='450px'
      matTooltip='Basic Login Form'></lbk-basic-login-form>
  </li>
  <!--  end basic login form-->
</ul>
