<section class="container-poll">
  <div class="flex flex-col gap-10 md:flex-row lg:gap-14">
    <!-- Design -->
    <lbk-gallery-component [challenge]="challenge"></lbk-gallery-component>
    <!-- end Design -->

    <div>
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-4">
          <lbk-challenge-type [challenge]="challenge"></lbk-challenge-type>
          <!-- Languages -->
          <lbk-language-list
            [languages]="challenge.languages"
          ></lbk-language-list>
          <!-- end Languages -->
        </div>

        <!-- Difficulty -->
        <lbk-difficulty [difficulty]="challenge.difficulty"></lbk-difficulty>
        <!-- end Difficulty -->
      </div>

      <!-- Title -->
      <h1
        [routerLink]="['/challenge', challenge.id]"
        class="text-2xl font-medium font-heading mt-2 lg:text-4xl lg:mt-4"
      >
        {{ challenge.title }}
      </h1>
      <!-- end Title -->

      <!-- Description -->
      <p class="text-sm text-secondary mt-4 text-base lg:mt-10">
        {{ challenge.description }}
      </p>
      <!-- end Description -->

      <lbk-assets-provided class="block mt-10"></lbk-assets-provided>

      <div class="mt-8">
        <lbk-stared-challenge
          *ngIf="challenge.status; else startFree"
        ></lbk-stared-challenge>

        <!-- Start Free Challenge -->
        <ng-template #startFree>
          <lbk-button-start-free></lbk-button-start-free>
        </ng-template>
        <!-- end Start Free Challenge -->
      </div>
    </div>
  </div>

  <div class="mt-24 md:mt-32">
    <h2
      class="font-bold tracking-widest text-center lg:tracking-[.2rem] lg:text-xl"
    >
      CHALLENGE
    </h2>

    <ul class="grid gap-10 mt-24 md:grid-cols-2 lg:mt-28">
      <!-- Brief -->
      <li>
        <lbk-brief [brief]="challenge.brief"></lbk-brief>
      </li>
      <!-- end Brief -->

      <li>
        <ul class="grid gap-10">
          <li>
            <lbk-get-started></lbk-get-started>
          </li>

          <!-- Ideas -->
          <li>
            <lbk-ideas [ideas]="challenge.ideas"></lbk-ideas>
          </li>
          <!-- end Ideas -->
        </ul>
      </li>
    </ul>

    <div class="mt-10 md:mt-14">
      <lbk-stared-challenge
        *ngIf="challenge.status; else startFree"
      ></lbk-stared-challenge>

      <!-- Start Free Challenge -->
      <ng-template #startFree>
        <lbk-button-start-free></lbk-button-start-free>
      </ng-template>
    </div>
  </div>
</section>
