<main class="pt-8 md:pt-14 lg:pt-[72px] lg:grid lg:place-content-center">
  <div class="container max-w-[730px] lg:h-full lg:min-w-[730px]">
    <lbk-invoices-preview-header
      [status]="(filterByStatus$ | async)!"
      (statusChange)="filterByStatus($event)"
      (createInvoice)="showCreateInvoiceOverlay()"
      [total]="(totalInvoices$ | async)!"
    ></lbk-invoices-preview-header>

    <div [ngClass]="{ 'flex justify-center mt-20': loading$ | async }">
      <lbk-spinner [radius]="50" [loading]="(loading$ | async)!">
        <ng-container *ngIf="invoices$ | async as invoices">
          <lbk-invoice-preview-list
            class="block mt-8 md:mt-14 lg:mt-16"
            *ngIf="invoices.length > 0; else noInvoices"
            [invoices]="invoices"
          ></lbk-invoice-preview-list>

          <ng-template #noInvoices>
            <lbk-no-invoices
              class="block mt-[102px] lg:mt-36"
            ></lbk-no-invoices>
          </ng-template>
        </ng-container>
      </lbk-spinner>
    </div>
  </div>
</main>

<!-- new invoice overlay -->
<lbk-new-invoice-overlay></lbk-new-invoice-overlay>
<!-- end new invoice overlay -->
