<h2 class="text-3xl text-center">
  This input supports Markdown
</h2>

<ul class="mt-6 list-inside list-disc">
  <li>
    Separate paragraphs with blank lines
  </li>
  <li>
    Make lists by starting lines with hyphens - or numbers 1.
  </li>
  <li>
    Italicize text by surrounding it with single asterisks *
  </li>
  <li>
    Make text bold by surrounding it with double asterisks **
  </li>
  <li>
    Write inline code snippets by surrounding code with single backticks `
  </li>

  <li>
    Create larger code blocks by wrapping code in 3 backticks ```
  </li>
  <li>
    Create links by wrapping text with square brackets and the URL in
    parentheses [Text](https://link.com)
  </li>
</ul>
