<section class="container" class="">
  <div class="bg-primary z-[-1] rounded-t-lg">
    <h2
      class="text-white text-center text-sm font-bold tracking-[0.2rem] min-h-[300px] overflow-hidden pt-16"
    >
      LATEST CHALENGES
    </h2>
  </div>

  <ul class="grid gap-6 place-items-center -mt-[150px] px-2">
    <li
      class="shadow-md rounded-md overflow-hidden"
      *ngFor="let challenge of challenges; trackBy: identifyChallenge"
    >
      <!-- Challenge Image -->
      <img
        class="w-full h-[236px]"
        [src]="challenge.image"
        [alt]="challenge.name"
      />
      <!-- end Challenge Image -->

      <!-- Is New -->
      <!-- end Is New -->

      <!-- Is Free  -->
      <!-- end Is Free  -->

      <!-- Is Premium -->
      <!-- end Is Premium -->

      <div class="p-6">
        <!-- Name -->
        <h3 class="text-xl font-medium font-heading">{{ challenge.name }}</h3>
        <!-- end Name -->

        <div class="flex justify-between items-end mt-1">
          <!-- Tech Stacks -->
          <ul class="flex gap-2">
            <li *ngFor="let tech of challenge.techStack">
              <lbk-tech-stack [classList]="tech">{{ tech }}</lbk-tech-stack>
            </li>
          </ul>
          <!-- end Tech Stacks -->

          <!-- Level -->
          <lbk-level
            [classList]="challenge.level"
            [level]="challenge.level"
          ></lbk-level>
          <!-- end Level -->
        </div>

        <!-- Description -->
        <p class="text-sm text-secondary mt-2">{{ challenge.description }}</p>
        <!-- end Description -->
      </div>
    </li>
  </ul>

  <!-- View All Challenges -->
  <div class="flex justify-center mt-20">
    <a
      href="/"
      class="block text-center font-bold text-secondary text-xs underline decoration-solid decoration-primary decoration-[.15rem] underline-offset-2"
      >View all Challenges</a
    >
  </div>
  <!-- end View All Challenges -->
</section>
