<section
  class="relative container pt-9 pb-[70px] sm:pb-24 md:pt-14 overflow-hidden lg:flex lg:items-center lg:justify-between xl:px-14 2xl:px-28 2xl:pt-20"
>
  <!-- Bg Pattern Mobile -->
  <img
    class="z-[-1] absolute -right-[2%] -translate-y-[30%] h-full md:-translate-y-[10%] md:right-[10%] lg:hidden"
    src="/assets/images/shared/bg-pattern.svg"
    alt="Pattern"
  />
  <!-- end Bg Pattern Mobile -->

  <!-- Bg Pattern Desktop One -->
  <img
    class="hidden z-[-1] absolute left-1/2 -translate-x-1/2 h-full lg:block"
    src="/assets/images/shared/bg-pattern-1.svg"
    alt="Pattern"
  />
  <!-- end Bg Pattern Desktop One -->

  <!-- Bg Pattern Desktop Two -->
  <img
    class="hidden z-[-1] absolute -right-[5%] -translate-y-[30%] h-full md:-translate-y-[10%] lg:block"
    src="/assets/images/shared/bg-pattern-2.svg"
    alt="Pattern"
  />
  <!-- end Bg Pattern Desktop Two -->

  <div class="max-w-[600px] 2xl:max-w-[500px]">
    <div class="sm:pr-20 lg:pr-0">
      <h1
        class="font-medium text-primary text-[36px] leading-[48px] md:text-5xl md:leading-[65px]"
      >
        <lbk-zig-zag> Improve </lbk-zig-zag>
        your front-end coding skills by building real projects
      </h1>

      <p
        class="mt-[18px] text-[18px] leading-[26px] max-w-[295px] break-words sm:max-w-md lg:leading-8 2xl:max-w-none 2xl:text-xl"
      >
        Solve real-world HTML, CSS and JavaScript challenges whilst working to
        professional designs. Join 343,219 developers building projects,
        reviewing code, and helping each other get better.
      </p>
    </div>

    <!-- Login With Github -->
    <a
      [href]="loginGithubURL"
      class="btn mt-7 gap-2 items-center bg-error shadow-sm text-white rounded-[88px] text-[16px] font-medium text-center leading-6 inline-flex px-[57px] py-[11px] lg:py-3 lg:text-lg lg:px-16"
    >
      Login with GithHub
      <i class="fa-brands fa-github"></i>
    </a>
    <!-- end Login With Github -->
  </div>

  <!-- Hero Image -->
  <div class="min-w-[390px] max-w-[480px] hidden lg:block">
    <img src="assets/images/home/homepage-hero.jpeg" alt="Hero Image" />
  </div>
  <!-- end Hero Image -->
</section>
