<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="bg-white p-6 rounded-lg border grid gap-3"
>
  <h1 class="text-lg font-bold tracking-widest">PERSONAL</h1>

  <!-- Avatar -->
  <div class="grid place-items-center gap-3 mt-8">
    <lbk-avatar-input
      [disabled]="false"
      #avatarInput
      [avatarSrc]="user | avatar"
      class="block max-w-[264px] max-h-[264px] object-cover object-center rounded-full overflow-hidden"
    ></lbk-avatar-input>

    <!-- Choose Image -->
    <button
      type="button"
      (click)="avatarInput.onAvatarClick()"
      class="btn px-10 py-2 btn-primary-outline"
    >
      CHOOSE IMAGE
    </button>
    <!-- end Choose Image -->
  </div>
  <!-- end Avatar -->

  <!-- Name -->
  <lbk-input
    [input]="{ parent: form, label: 'Name', controlName: 'name' }"
  ></lbk-input>
  <!-- end Name -->

  <!-- Email* -->
  <lbk-input
    [input]="{
      parent: form,
      label: 'Email',
      controlName: 'email',
      inputType: 'email'
    }"
  ></lbk-input>
  <!-- end Email* -->

  <!-- Slack Username* -->
  <div>
    <label class="text-sm font-medium" for="name">Slack username</label>
    <br />
    <input
      value="Le Binh Khang"
      class="w-full"
      id="slackUsername"
      type="text"
    />
  </div>

  <!-- end Slack username* -->

  <!-- Location -->
  <lbk-input
    [input]="{
      parent: form,
      label: 'Location',
      controlName: 'location'
    }"
  ></lbk-input>
  <!-- end Location -->

  <!-- Hire Me -->
  <lbk-hire-me-input [parent]="form"></lbk-hire-me-input>
  <!-- end Location -->

  <!-- BIO Input Group -->
  <lbk-bio-input-group [parent]="form" class="mt-4"></lbk-bio-input-group>
  <!-- end BIO Input Group -->

  <!-- Links Input Group -->
  <lbk-links-input-group [parent]="form" class="mt-4"></lbk-links-input-group>
  <!-- end Links Input Group -->

  <!-- Update Profile Button -->
  <div class="flex justify-end items-center mt-2">
    <lbk-spinner [loading]="pending">
      <button type="submit" class="btn btn-error italic font-bold py-2">
        UPDATE PROFILE
      </button>
    </lbk-spinner>
  </div>
  <!-- end Update Profile Button -->
</form>
