<main class="mb-20 xl:mb-32">
  <lbk-hero></lbk-hero>

  <lbk-testimonial
    [testimonial]="florinTestimonial"
    class="block mt-40"
  ></lbk-testimonial>

  <lbk-aspiring-developer class="block mt-28"></lbk-aspiring-developer>

  <lbk-pro-developer class="block mt-20 md:mt-16 xl:mt-12"></lbk-pro-developer>

  <lbk-testimonial
    [testimonial]="jessicaTestimonial"
    class="block mt-40 md:mt-36"
  ></lbk-testimonial>

  <lbk-why-pro class="block mt-28"></lbk-why-pro>

  <lbk-premium-challenges class="block mt-40 lg:mt-44"></lbk-premium-challenges>

  <lbk-testimonial
    [testimonial]="tiffanyTestimonial"
    class="block mt-56"
  ></lbk-testimonial>

  <lbk-more class="block mt-48 lg:mt-44"></lbk-more>

  <lbk-pricing
    scrollTo="center"
    class="block mt-44 md:mt-52 xl:mt-64"
  ></lbk-pricing>

  <lbk-payments class="block mt-4"></lbk-payments>

  <!-- Subscription FAQS -->
  <section class="container mt-44">
    <lbk-question-list
      title="Subscription FAQS"
      [questions]="subscriptionQuestions"
    ></lbk-question-list>
  </section>
  <!-- end Subscription FAQS -->

  <lbk-testimonial
    [testimonial]="jakubTestimonial"
    class="block mt-56"
  ></lbk-testimonial>
</main>
