<!-- Challenge Image -->
<a class="block" [routerLink]="['/challenge', challenge.challenge_id]">
  <lbk-image
    classImage="duration-300 w-full max-h-[236px] sm:max-h-[288px] hover:scale-110"
    [alt]="challenge.name"
    [singleImage]="challenge.image"
  ></lbk-image>
</a>
<!-- end Challenge Image -->

<ul class="absolute inline-flex gap-2 right-3 top-3">
  <!-- Is New -->
  <li *ngIf="challenge.isNew">
    <span class="badge badge-error inline-flex gap-1 items-center">
      <i class="fa-solid fa-asterisk"></i>
      NEW
    </span>
  </li>
  <!-- end Is New -->

  <!-- Is Free  -->
  <li *ngIf="challenge.type === 'free'">
    <span class="badge badge-secondary"> FREE </span>
  </li>
  <!-- end Is Free  -->

  <!-- Is Premium -->
  <li *ngIf="challenge.type === 'premium'">
    <span class="badge badge-primary"> PREMIUM </span>
  </li>
  <!-- end Is Premium -->
</ul>

<div class="p-6">
  <!-- Name -->
  <a
    [routerLink]="['/challenge', challenge.challenge_id]"
    class="text-xl font-medium font-heading lg:text-2xl hover:underline"
  >
    {{ challenge.name }}
  </a>
  <!-- end Name -->

  <div class="flex justify-between items-end mt-1 sm:mt-2 lg:mt-4">
    <!-- Tech Stacks -->
    <ul class="flex gap-2">
      <li *ngFor="let language of challenge.languages">
        <lbk-language [classList]="language">{{ language }}</lbk-language>
      </li>
    </ul>
    <!-- end Tech Stacks -->

    <!-- Difficulty -->
    <lbk-difficulty [difficulty]="challenge.difficulty"></lbk-difficulty>
    <!-- end Difficulty -->
  </div>

  <!-- Description -->
  <p class="text-sm text-secondary mt-2 lg:text-base lg:mt-5">
    {{ challenge.description }}
  </p>
  <!-- end Description -->
</div>
