<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-8">
  <h2>Change Password</h2>

  <div class="mt-8 grid gap-3">
    <!-- Old password -->
    <lbk-password-input
      controlName="oldPassword"
      label="Old Password"
      [parent]="form"
    ></lbk-password-input>
    <!-- end Old password -->

    <!-- New Password -->
    <lbk-password-input
      controlName="newPassword"
      notSameWith="oldPassword"
      label="New Password"
      [parent]="form"
    ></lbk-password-input>
    <!-- end New Password -->

    <!-- Confirm New Password -->
    <lbk-confirm-password-input
      target="newPassword"
      label="Confirm New Password"
      [parent]="form"
    ></lbk-confirm-password-input>
    <!-- end Confirm New Password -->
  </div>

  <!-- Actions -->

  <div [ngClass]="{ 'flex justify-center mt-6': pending$ | async }">
    <lbk-spinner [loading]="(pending$ | async)!">
      <div class="mt-6 flex justify-end gap-4">
        <!-- Cancel Button -->
        <button (click)="close()" type="button" class="btn btn-neutral">
          Cancel
        </button>
        <!-- end Cancel Button -->

        <!-- Submit Button -->
        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
          Change
        </button>
        <!-- end Submit Button -->
      </div>
    </lbk-spinner>
  </div>
  <!-- end Actions -->
</form>
