<h2 class="text-2xl font-medium">So, what is the Wall of Fame?</h2>

<ul class="mt-4 space-y-2 text-secondary text-sm">
  <li>
    Everyone is a mentor. Whether you’re submitting a solution or giving someone
    feedback, you’re making valuable contributions to the community. Your Mentor
    Score represents that fact and grows as you contribute.
  </li>
  <li>
    Our Wall of Fame highlights our most active community members each week,
    month, year, and all-time.
  </li>
</ul>

<h3 class="font-bold mt-10">GIVING FEEDBACK</h3>
<p class="text-sm text-secondary mt-4">
  By giving feedback to others, you’re directly helping them improve as a
  developer. Not only that, but you reinforce your own knowledge on the subject.
</p>

<div class="mt-4 flex items-center justify-between">
  <div class="flex items-center gap-2">
    <span
      class="w-12 h-12 rounded-full bg-primary text-white grid place-content-center"
    >
      <i class="fa-solid fa-thumbs-up text-xl"></i>
    </span>

    Your feedback is marked as helpful
  </div>
  <strong> +20 POINTS </strong>
</div>

<h3 class="font-bold border-t pt-5 mt-8">SUBMITTING SOLUTIONS</h3>

<ul class="space-y-4 text-secondary text-sm mt-4">
  <li>
    Just by submitting solutions, you’re building your own experience and
    contributing your code as a potential learning resource.
  </li>

  <li>
    As the difficulty of the challenge increases you earn more points when you
    submit your solution.
  </li>
</ul>

<!-- end end Points -->
<ul class="points mt-4 space-y-5">
  <li>
    <div>
      <span class="bg-accent">
        LVL <br />
        1
      </span>

      Submit a Newbie challenge
    </div>
    <strong> +10 POINTS </strong>
  </li>

  <li>
    <div>
      <span class="bg-success">
        LVL <br />
        2
      </span>
      Submit a Junior challenge
    </div>
    <strong>+20 POINTS</strong>
  </li>

  <li>
    <div>
      <span class="bg-warning">
        LVL <br />
        3
      </span>
      Submit an Intermediate challenge
    </div>
    <strong>+30 POINTS</strong>
  </li>

  <li>
    <div>
      <span class="bg-warning-50">
        LVL <br />
        4
      </span>
      Submit an Advanced challenge
    </div>
    <strong>+40 POINTS</strong>
  </li>

  <li>
    <div>
      <span class="bg-error">
        LVL <br />
        5
      </span>
      Submit a Guru challenge
    </div>
    <strong>+50 POINTS</strong>
  </li>
</ul>
<!-- end Points -->

<h3 class="font-bold mt-6 border-t pt-4">AIRDROP RAFFLE</h3>

<h4 class="text-primary font-bold mt-4">Weekly</h4>
<p class="mt-4 text-secondary text-sm">
  At the end of every week, we randomly select a free member on the Wall of Fame
  to receive a design credit. This can be used to download a design file
  (Sketch/Figma) for any free challenge.
</p>

<h4 class="text-primary font-bold">Monthly</h4>
<p class="mt-4 text-secondary text-sm">
  At the end of every month, we randomly select a free member on the Wall of
  Fame to receive a premium credit. This can be used to download a premium
  challenge.
</p>

<h3 class="font-bold mt-6 border-t pt-4">PRIZES</h3>
<div class="flex gap-4 items-center mt-4">
  <img src="assets/images/shared/logo-fem-pro.svg" alt="Logo Fem Pro" />
  <i class="fa-solid fa-plus text-2xl text-secondary/20"></i>
  <img src="assets/images/shared/logo-scrimba.svg" alt="Logo Scrimba" />
</div>

<ul class="mt-4 text-sm text-secondary gap-2">
  <li>
    We’ve partnered with Scrimba for our Mentor of the Year prizes. So, not only
    will the top 3 Mentors of the Year win a free one-year Frontend Mentor PRO
    subscription, but they’ll also win a free one-year Scrimba subscription!
  </li>
  <li>
    Also, keep an eye out in our Slack community for occasional partnerships and
    prizes for our Mentors of Month.
  </li>
</ul>
