<nav class="border-b">
  <div class="container">
    <h2
      class="inline-block font-bold text-sm p-4 border-x ml-3 lg:ml-0 lg:px-6"
    >
      FAQ
    </h2>
  </div>
</nav>

<main class="relative mt-8 container sm:mt-16 lg:mt-32">
  <!-- Pattern  One-->
  <img
    class="absolute top-[-10%] left-[-10%] scale-150 opacity-30"
    src="assets/images/bg-pattern-desktop-1.svg"
    alt="Pattern One"
  />
  <!-- end Pattern  One-->

  <!-- Pattern  Two-->
  <img
    class="absolute right-[-10%] scale-150 opacity-30"
    src="assets/images/bg-pattern-desktop-2.svg"
    alt="Pattern Two"
  />
  <!-- end Pattern  One-->

  <div class="text-center max-w-[650px] mx-auto">
    <h1
      class="text-4xl font-heading font-medium text-primary leading-[50px] sm:text-5xl tracking-[.1rem]"
    >
      Frequently Asked Questions
    </h1>

    <p class="mt-2 text-sm leading-5 sm:text-base sm:mt-4 lg:mt-6">
      If you’ve got a question, there’s a good chance we’ve answered it below.
      Take a look and if you still need help, get in touch, and we’ll happily
      help you out!
    </p>
  </div>

  <ul class="grid gap-10 mt-14 sm:mt-10 md:mt-20 md:gap-16 lg:gap-32 lg:mt-28">
    <!-- General Questions -->
    <li>
      <lbk-question-list
        title="General Questions"
        [questions]="generalQuestions"
      ></lbk-question-list>
    </li>
    <!-- end General Questions -->

    <!-- Account Questions -->
    <li>
      <lbk-question-list
        title="Account Questions"
        [questions]="accountQuestions"
      ></lbk-question-list>
    </li>
    <!-- end Account Questions -->

    <!-- Subscription Questions -->
    <li>
      <lbk-question-list
        title="Subscription Questions"
        [questions]="subscriptionQuestions"
      ></lbk-question-list>
    </li>
    <!-- end Subscription Questions -->

    <!-- Solution Questions -->
    <li>
      <lbk-question-list
        title="Solution Questions"
        [questions]="solutionQuestions"
      ></lbk-question-list>
    </li>
    <!-- end Solution Questions -->

    <!-- Licensing Questions -->
    <li>
      <lbk-question-list
        title="Licensing Questions"
        [questions]="licensingQuestions"
      ></lbk-question-list>
    </li>
    <!-- end Licensing Questions -->
  </ul>

  <!-- Not Found Answer -->
  <lbk-not-found-answer
    class="block my-10 sm:my-16 md:my-20 lg:my-28"
  ></lbk-not-found-answer>
  <!-- end Not Found Answer -->
</main>
