<div [formGroup]="parent">
  <div [formArrayName]="arrayName">
    <div [formGroupName]="groupName">
      <!-- item name -->
      <lbk-input-array
        [parent]="parent"
        [groupName]="groupName"
        [arrayName]="arrayName"
        controlName="name"
        placeHolder="Banner Design"
        label="Item Name"
        class="col-span-6"
      ></lbk-input-array>

      <!-- end item name -->

      <div class="grid grid-cols-3 mt-6 gap-x-4">
        <!-- Quantity -->
        <lbk-input-array
          [parent]="parent"
          [groupName]="groupName"
          [arrayName]="arrayName"
          controlName="quantity"
          placeHolder="1"
          label="Qty."
          class="col-span-1"
        ></lbk-input-array>
        <!-- end Quantity -->

        <!-- Price -->
        <lbk-input-array
          [parent]="parent"
          [groupName]="groupName"
          [arrayName]="arrayName"
          controlName="price"
          placeHolder="100"
          label="Price"
        ></lbk-input-array>
        <!-- end Price -->

        <!-- Total -->
        <div>
          <span class="text-muted-600">Total</span>

          <div class="flex items-center gap-2 mt-3 py-4">
            <span class="px-5 border-muted-500 grow rounded-[4px]">
              {{ total$ | async | number }}
            </span>

            <!-- Delete Item Button -->
            <button
              aria-label="Delete Item"
              class=""
              (click)="deleteItem.emit()"
            >
              <i
                class="fas fa-trash text-muted-900 duration-500 text-lg hover:text-primary-900 dark:text-muted-700 hover:dark:text-primary-900"
              ></i>
            </button>
            <!-- end Delete Item Button -->
          </div>
        </div>
        <!-- end Total -->
      </div>
    </div>
  </div>
</div>
