<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="bg-white border p-6 rounded-xl grid gap-3 md:gap-6"
>
  <!-- Title -->
  <lbk-title-input [parent]="form"></lbk-title-input>
  <!-- end Title -->

  <!-- Repositofy URL -->
  <lbk-repo-url-input [parent]="form"></lbk-repo-url-input>
  <!-- end Repositofy URL -->

  <!-- Live site URL -->
  <lbk-live-site-input [parent]="form"></lbk-live-site-input>
  <!-- end Live site URL -->

  <!-- Tags Input-->
  <lbk-tags-input [parent]="form"></lbk-tags-input>
  <!-- end Tags Input-->

  <!-- Questions Input-->
  <lbk-questions-input
    [parent]="form"
    class="block md:mt-4"
  ></lbk-questions-input>
  <!-- end Questions Input -->

  <!-- Private Solution -->
  <lbk-private-solution-input [parent]="form"></lbk-private-solution-input>
  <!-- end Private Solution -->

  <div class="mt-2 flex justify-between items-center md:mt-3">
    <!-- Delete solution -->
    <button
      (click)="deleteSolution()"
      class="border-b-2 border-error text-xs md:text-sm"
      type="button"
    >
      Delete Solution
    </button>
    <!-- end Delete solution -->

    <!-- Submit -->
    <button class="btn btn-error font-bold italic px-8">
      SUBMIT SOLUTION
    </button>
    <!-- end Submit -->
  </div>
</form>
