<form
  [formGroup]="form"
  (ngSubmit)="submitOrUpdate()"
  class="bg-white border p-6 rounded-xl grid gap-3 md:gap-6"
>
  <!-- Title -->
  <lbk-title-input [parent]="form"></lbk-title-input>
  <!-- end Title -->

  <!-- Repositofy URL -->
  <lbk-repo-url-input [parent]="form"></lbk-repo-url-input>
  <!-- end Repositofy URL -->

  <!-- Live site URL -->
  <lbk-live-site-input [parent]="form"></lbk-live-site-input>
  <!-- end Live site URL -->

  <!-- Tags Input-->
  <lbk-tags-input [tags]="tags" [parent]="form"></lbk-tags-input>
  <!-- end Tags Input-->

  <!-- Questions Input-->
  <lbk-questions-input
    [parent]="form"
    class="block md:mt-4"
  ></lbk-questions-input>
  <!-- end Questions Input -->

  <!-- Private Solution -->
  <lbk-private-solution-input [parent]="form"></lbk-private-solution-input>
  <!-- end Private Solution -->

  <div class="mt-2 flex justify-between items-center md:mt-3">
    <!-- Delete solution -->
    <button
      (click)="deleteButtonClick()"
      class="border-b-2 border-error text-xs md:text-sm"
      type="button"
    >
      Delete Solution
    </button>
    <!-- end Delete solution -->

    <!-- Submit -->
    <lbk-spinner
      [radius]="40"
      [loading]="submitingSolution || updatingSolution"
    >
      <button
        (click)="submitOrUpdate()"
        class="btn btn-error font-bold italic px-8"
      >
        <ng-container *ngIf="!!solution; else submitSolution">
          UPDATE SOLUTION
        </ng-container>
        <ng-template #submitSolution>
          SUBMIT SOLUTION
        </ng-template>
      </button>
    </lbk-spinner>
    <!-- end Submit -->
  </div>
</form>
