<main class="relative mb-[120px] 2xl:mb-[200px]">
  <!-- Superhero -->
  <lbk-hero></lbk-hero>
  <!-- end Superhero -->

  <div class="container mt-24 md:mt-[148px] 2xl:mt-[200px]">
    <!-- Category Preview List -->
    <lbk-category-preview-list></lbk-category-preview-list>
    <!-- end Category Preview List -->

    <!-- Product Preview List -->
    <section class="block mt-32 md:mt-24 lg:mt-[168px]">
      <ul class="grid gap-6 md:gap-8 2xl:gap-12">
        <li>
          <lbk-premium-speaker-preview></lbk-premium-speaker-preview>
        </li>

        <li>
          <lbk-normal-speaker-preview></lbk-normal-speaker-preview>
        </li>

        <li>
          <lbk-earphones-preview></lbk-earphones-preview>
        </li>
      </ul>
    </section>
    <!-- end Product Preview List -->

    <!-- The Best -->
    <lbk-the-best
      class="block mt-[120px] md:mt-24 2xl:mt-[200px]"
    ></lbk-the-best>
    <!-- end The Best -->
  </div>
</main>
