<ul class='list-group m-2'>
  <!-- animated digit-->
  <li
    matTooltip='Animated digit'
    class='list-group-item'>
    <lbk-animated-digit [digit]='1000'></lbk-animated-digit>
  </li>
  <!--  end animated digit-->

  <!--check list animate-->
  <li
    matTooltip='Check list animate'
    class='list-group-item'>
    <lbk-check-list-animate></lbk-check-list-animate>
  </li>
  <!--end check list animate-->

  <!--folded post effect-->
  <li
    matTooltip='Folded post effect'
    class='list-group-item'>
    <lbk-folded-poster></lbk-folded-poster>
  </li>
  <!--end folded post effect-->


  <!--magic string-->
  <li class='list-group-item'>
    <lbk-magic-strings matTooltip='Magic string'>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis neque possimus voluptatibus. Ex
      inventore nesciunt totam? Adipisci doloremque, doloribus ex explicabo illum ipsum maiores optio qui quibusdam
      repellat, ut!
    </lbk-magic-strings>
  </li>
  <!--end magic string-->

  <!--magic string-->
  <li matTooltip='Add to cart animation' class='list-group-item'>
    <lbk-add-to-cart-anim></lbk-add-to-cart-anim>
  </li>
  <!--end magic string-->

  <!--  feedback reaction-->
  <li matTooltip='Feedback reaction' class='list-group-item'>
    <lbk-feedback-reaction></lbk-feedback-reaction>
  </li>
  <!--  end feedback reaction-->
</ul>
