<lbk-bottom-sheet #bs [shown]="(showRequiredLogin$ | async)!">
  <div class="bg-white rounded-8 w-96 p-6 rounded-b-xl shadow-xl flex flex-col">
    <lbk-alert class="warning">
      Please Login to perform this actions
    </lbk-alert>

    <div class="flex justify-between items-center mt-6">
      <div class="flex gap-2">
        <!-- Login Button -->
        <button (click)="login()" class="btn btn-primary">Login</button>
        <!-- end Login Button -->

        <!-- Signup Button -->
        <button (click)="signup()" class="btn btn-accent">SignUp</button>
        <!-- end Signup Button -->
      </div>

      <!-- Close Button -->
      <button
        class="btn btn-secondary"
        (click)="closeRequiredLogin()"
        aria-label="Close Buttom"
      >
        <i class="fa-solid fa-close"></i>
      </button>
      <!-- end Close Button -->
    </div>
  </div>
</lbk-bottom-sheet>
