.improve {
  background-repeat: no-repeat;
  background-position: 0 105%;
  background-image: url('/assets/images/zig-zag-underline.svg');
}

section {
  background-image: url('/assets/images/bg-pattern.svg');
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-opacity: 50%;
}
