<lbk-sub-header title="Challenges">
  <lbk-dropdown class="hidden sm:block"></lbk-dropdown>
</lbk-sub-header>

<main>
  <!-- Dropdown -->
  <lbk-dropdown class="container block mt-12 sm:hidden"></lbk-dropdown>
  <!-- end Dropdown -->

  <section
    class="container-poll flex flex-col justify-center gap-14 mt-2 sm:mt-6 sm:flex-row sm:justify-between"
  >
    <!-- Selected Filter List -->
    <lbk-selected-filter-list
      *ngIf="querys$ | async as querys; else emptyFilter"
      [querys]="querys"
      (remove)="removeQuery($event)"
    ></lbk-selected-filter-list>
    <ng-template #emptyFilter>
      <span></span>
    </ng-template>
    <!-- end Selected Filter List -->

    <!-- Learn About Out Challenge -->
    <button
      (click)="learnAboutChallenge()"
      aria-label="Learn About Challenge"
      class="text-center"
    >
      <span class="font-medium text-sm">
        Learn about our challenge types
      </span>
      <i class="fa-solid fa-exclamation-circle text-accent"></i>
    </button>
    <!-- end Learn About Out Challenge -->
  </section>

  <ng-container *ngIf="challenges$ | async as challenges">
    <lbk-challenge-list
      *ngIf="challenges.length > 0; else emptyChallenges"
      class="container-poll block mt-8 sm:mt-8"
      [challenges]="challenges"
    ></lbk-challenge-list>

    <ng-template #emptyChallenges>
      <div class="py-28 sm:py-40"></div>
    </ng-template>
  </ng-container>

  <lbk-slack class="block mt-28 lg:mt-[120px] 2xl:mt-[124px]"></lbk-slack>

  <lbk-newletter class="block mt-20 xl:mt-32"></lbk-newletter>
</main>
